$clr-primary: violet;
$clr-secondary: rgb(173, 94, 219);
$clr-light: lightblue;
$clr-dark: darkblue;

// set text color based on background color //
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $clr-dark;
  }
  @return $clr-light;
}

// set background and text color //
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
