.showcase {
  @include set-background($clr-primary);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }
    a:hover {
      color: $clr-secondary;
    }
  }

  a {
    color: set-text-color($clr-light);
  }

  &__content {
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }
  }
}
