@import "config";
@import "buttons";

body {
  background-color: $clr-primary;
  line-height: 1.6;
}

.showcase {
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a:hover {
      color: $clr-dark;
    }
  }

  a {
    color: $clr-light;
  }
}
